name: Build and Publish to NPM

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release type (patch, minor, major)'
        required: true
        default: 'patch'
        type: choice
        options:
        - patch
        - minor
        - major

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org/'
          
      - name: Install dependencies
        working-directory: ./uz-workspace
        run: npm i
        
      - name: Build Universal Zone
        working-directory: ./uz-workspace
        run: npm run build:uz
      
      - name: Build Ionic Zone
        working-directory: ./uz-workspace
        run: npm run build:ionic
        
      - name: Publish Universal Zone and Ionic Zone to NPM 
        working-directory: ./uz-workspace/dist
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: '${{ secrets.NPM_TOKEN }}'